$fav-color: (
        album: rgb(138,30,149),
        artist: rgb(149,30,80),
        track: rgb(60,30,149)
);

.favorite-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 20px;
    background: #121212;
    background: linear-gradient(0deg, #121212 0%, rgba(map-get($fav-color, album), 0.8) 100%);
    padding-block-start: 50px;
    padding-inline: 50px;

    &.artist-h-color {
        background: linear-gradient(0deg, #121212 0%, rgba(map-get($fav-color, artist), 0.8) 100%);

        & > div:first-child {
            background: map-get($fav-color, artist);
            background: linear-gradient(150deg, rgba(map-get($fav-color, artist),1) 18%, rgba(24,216,165,1) 100%);
        }
    }

    &.track-h-color {
        background: linear-gradient(0deg, #121212 0%, rgba(map-get($fav-color, track), 0.8) 100%);

        & > div:first-child {
            background: map-get($fav-color, track);
            background: linear-gradient(150deg, rgba(60,30,149,1) 1%, rgba(103,86,155,1) 55%, rgba(177,184,164,1) 94%);
        }
    }

    img {
        width: 400px;
        object-fit: cover;
        object-position: center;
    }

    & > div:first-child {
        box-shadow: 0 4px 60px rgba(0,0,0,.5);
        background: map-get($fav-color, album);
        background: linear-gradient(150deg, rgba(map-get($fav-color, album),1) 18%, rgba(24,216,165,1) 100%);
        min-width: 300px;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }

    & > div:last-child {
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .fav-section {
            font-family: "GothamMedium", sans-serif;
            font-size: x-large;
        }

        .fav-section-name {
            font-family: "GothamMedium", sans-serif;
            font-size: xxx-large;
        }
    }
}