@import "theme";
@import "aside";
@import "button";
@import "search-card";
@import "loading";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($theme, main);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: map-get($secondary, main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:map-get($secondary, darker);
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

main {
  min-height: calc(100vh - 82px);
}

.header-logo {
  width: 40px;
  height: 40px;
}