@font-face {
  font-family: "GothamMedium";
  src: url("./font/GothamMedium.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("./font/GothamBook.ttf");
}
* {
  font-family: "GothamBook", sans-serif;
}

.bg-main {
  background-color: #121212;
  color: white;
}

.bg-main-darker {
  background-color: #000;
  color: white;
}

.bg-secondary {
  background-color: #18d860 !important;
}

.btn-secondary {
  background-color: #18d860;
}
.btn-secondary:hover {
  background-color: #10a643;
}

.app-btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#aside-menu {
  border-right: solid 10px #18d860;
  width: 500px;
}
#aside-menu .offcanvas-body img {
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  margin-inline: calc((100% - 300px) / 2);
  border-radius: 50%;
  align-self: center;
  border: solid 2px #18d860;
}
#aside-menu .offcanvas-body img:hover {
  border: solid 4px #18d860;
  cursor: pointer;
}
#aside-menu .offcanvas-body .stats {
  -webkit-box-shadow: 0 10px 20px rgba(24, 216, 96, 0.3);
  box-shadow: 0 10px 20px rgba(24, 216, 96, 0.3);
}
#aside-menu .offcanvas-body .stats:hover {
  -webkit-box-shadow: 0 20px 40px rgba(24, 216, 96, 0.3);
  box-shadow: 0 20px 40px rgba(24, 216, 96, 0.3);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
#aside-menu .offcanvas-body .badge-list {
  max-height: 86px;
  overflow: auto;
}

#aside-album-list {
  border-top: solid 10px #18d860;
  height: 80vh;
  overflow: auto;
}
#aside-album-list .accordion-item {
  border: none;
  border-bottom: solid 1px #404040;
}
#aside-album-list .accordion-item .accordion-button {
  color: white;
  background-color: #121212;
}
#aside-album-list .accordion-item .accordion-button:not(.collapsed) {
  background-color: #18d860;
}
#aside-album-list .accordion-item .accordion-button:not(.collapsed) span {
  background-color: #121212;
  color: white !important;
}
#aside-album-list .accordion-item .accordion-button:focus {
  border-color: #18d860;
}
#aside-album-list .accordion-item .accordion-button ::after {
  color: white;
}
#aside-album-list .accordion-item .accordion-button span {
  background-color: #18d860;
}
#aside-album-list .accordion-item .accordion-body .album-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
#aside-album-list .accordion-item .accordion-body .album-data img {
  width: 400px;
  object-fit: cover;
  object-position: center;
}
#aside-album-list .accordion-item .accordion-body .album-data > div {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#aside-album-list .accordion-item .accordion-body .album-data > div .al-type {
  font-family: "GothamMedium", sans-serif;
  font-size: x-large;
}
#aside-album-list .accordion-item .accordion-body .album-data > div .al-name {
  font-family: "GothamMedium", sans-serif;
  font-size: xxx-large;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #18d860;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #18d860;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #10a643;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

main {
  min-height: calc(100vh - 82px);
}

.header-logo {
  width: 40px;
  height: 40px;
}

.artist-card {
  transition: all 0.2s ease-out;
  animation: summon 1s;
}
.artist-card:hover {
  -webkit-box-shadow: 0 20px 40px rgba(24, 216, 96, 0.3);
  box-shadow: 0 20px 40px rgba(24, 216, 96, 0.3);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}
.artist-card img {
  border-radius: 50%;
  width: 80%;
  align-self: center;
  margin-block: 15px;
  border: solid 2px #18d860;
  object-fit: cover;
  object-position: center;
  max-height: 228px;
  max-width: 228px;
}

@keyframes summon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
